# ---------------- Maven ----------------
/target/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

!**/src/main/**/target/
!**/src/test/**/target/

# ---------------- IntelliJ IDEA ----------------
.idea/
*.iws
*.iml
*.ipr
/out/
*.class
*.log
*.hprof

# ---------------- Docker ----------------
docker-compose.override.yml
*.env

# ---------------- OS ----------------
.DS_Store
Thumbs.db
desktop.ini

# ---------------- Misc ----------------
HELP.md